
.balances-container {
  background-color: var(--white2); /* Fondo gris claro */
  padding: 26px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05); /* Sombra sutil */
  font-family: sans-serif;
}

.balances-title {
  font-size: 1.5em;
  color: #333;
  margin-bottom: 15px;
}

.balance-card {
  background-color: var(--grey4);
  padding: 15px;
  border-radius: 6px;
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.balance-card.total-balance {
  flex-direction: row;
}

.balance-card.available-balance,
.balance-card.pending-balance {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: calc(50% - 5px); /* Dos tarjetas lado a lado con un pequeño espacio */
}

.balances-summary {
  display: flex;
  gap: 10px;
}

.donut-chart {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: relative;
  margin-right: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.donut-chart.small {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.donut-segment {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  position: absolute;
}

.donut-segment.purple {
  background-color: #a987e8; /* Morado */
}

.donut-segment.grey {
  background-color: var(--grey1); /* Amarillo */
}

/* .donut-segment.half {
  clip: rect(0, 1em, 1em, 0); /* Muestra solo la mitad 
} */

.donut-hole {
  width: 60%;
  height: 60%;
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
}

.balance-info {
  display: flex;
  flex-direction: column;
}

.balance-info.small {
  align-items: flex-start;
}

.balance-label {
  font-size: 0.9em;
  color: #777;
  margin-bottom: 5px;
}

.balance-amount {
  font-size: 1.2em;
  font-weight: bold;
  color: #333;
  margin-bottom: 3px;
  margin-top: 3px;
}

.balance-description {
  font-size: 0.8em;
  color: #555;
}

/* -------------------------------- */

.container {
 display: flex;
 align-items: center;
 padding: 0 26px; /* Ajusta el padding según sea necesario */
 background-color: #fff; /* Fondo blanco como en la imagen */
 /*border: 1px solid #ccc; /* Opcional: si quieres un borde */
}

.left-section {
 flex-grow: 1;
}

.movimientos {
 font-size: 20px; /* Ajusta el tamaño de la fuente */
 color: #333; /* Color del texto */
}

.right-section {
 display: flex;
 gap: 10px; /* Espacio entre los botones */
}

.icon-button {
 display: flex;
 justify-content: center;
 align-items: center;
 width: 36px; /* Ajusta el tamaño del botón */
 height: 36px; /* Ajusta el tamaño del botón */
 border: 1px solid #9886eb; /* Color del borde morado */
 border-radius: 8px; /* Bordes redondeados */
 background-color: transparent;
 cursor: pointer;
}

.icon-button svg {
 width: 20px; /* Ajusta el tamaño del icono */
 height: 20px; /* Ajusta el tamaño del icono */
 stroke: #9886eb; /* Color del icono morado */
}

.icon-button:hover {
 background-color: #f2f0fc; /* Un ligero fondo al pasar el ratón (opcional) */
}

.filtro{
  width: 20px;
 height: 20px;
}

.contenedor-actividad-balance{
  background-color: var(--white2); /* Un tono lila claro de fondo */
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  padding: 0px 15px ;
  width: auto; /* Ajusta el ancho según necesites */
}

.tabla-scrollable-balance{
  max-height: 350px; /* Altura máxima para la tabla, habilita el scroll si excede */
  overflow-y: auto; /* Habilita el scroll vertical cuando sea necesario */
  width: 100%;
  border-collapse: collapse; /* Colapsar los bordes de las celdas */
}



.tabla-scrollable-balance td {
            padding: 8px;
            
        }